footer
{
  flex: 0 0 var(--footer-height);

  padding: 12px 0;

  background-color: theme("ground");

  @include screen_type("mobile")
  {
    p,
    a
    {
      @include lexend-deca-italic(1.1rem, 400);
      text-align: center;
    }
  }

  @include screen_type("tablet", "desktop")
  {
    p,
    a
    {
      @include lexend-deca-italic(1.3rem, 400);
      text-align: center;
    }
  }
}