.navigation
{
  min-width: 320px;

  ul
  {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include screen_type("mobile")
    {
      gap: 16px;
    }

    @include screen_type("tablet", "desktop")
    {
      gap: 16px;
    }
  }

  &__link
  {
    @include screen_type("mobile")
    {
      flex: 0 0 96px;
    }

    @include screen_type("tablet", "desktop")
    {
      flex: 0 0 96px;
    }

    height: 100%;

    a
    {
      text-decoration: none;
      color: inherit;
    }
  }
}