.project-accordion
{
  margin-top: 2rem;
}

.project-accordion-item
{
  width: 100%;
  justify-self: center;

  &:first-child &__header
  {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &:last-child &__header
  {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    transition: border-bottom-left-radius 0.1s ease-in-out,
                border-bottom-right-radius 0.1s ease-in-out;

    &.opened
    {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__header
  {
    width: 100%;

    align-self: center;

    padding: 12px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;

    svg
    {
      width: 20px;
      height: 20px;
    }
  }

  &__collapsible
  {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.28s ease-out;
  }

  &__content
  {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    figure
    {
      width: 100%;

      text-align: center;
    }

    img
    {
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;

      object-fit: contain;

      @include screen_type("mobile")
      {
        width: 80%;
      }

      @include screen_type("tablet")
      {
        width: 70%;
      }

      @include screen_type("desktop")
      {
        width: 60%;
      }
    }

    figcaption
    {
      width: 100%;

      @include lexend-deca-italic(1.5rem, 400);
    }

    p:has(+ ol),
    p:has(+ ul)
    {
      margin-bottom: 0.5rem;
    }

    ol,
    ul
    {
      padding-left: 1.5rem;
    }
  }
}