.project-gallery
{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin-bottom: 2rem;

  &__container,
  &__simplebar-container
  {
    width: $project_page_width;
  }

  &__container
  {
    position: relative;
    aspect-ratio: 16 / 9;

    &__item
    {
      width: 100%;
      top: 0;
      left: 0;

      position: absolute;
    }
  }

  &__button-next,
  &__button-previous
  {
    position: absolute;
    top: 50%;

    background-color: rgba(0,0,0,0);

    border: none;

    scale: 1;
    transition: scale 0.15s ease-in-out;

    &:hover
    {
      scale: 1.4;
    }

    &:active
    {
      scale: 0.8;
    }

    svg
    {
      width: $project_gallery_button_size;
      height: $project_gallery_button_size;
    }

    .fill-primary
    {
        fill: theme("primary");
    }

    .fill-secondary
    {
        fill: theme("secondary");
        opacity: 0.37;
    }
  }

  &__button-next
  {
    right: $project_gallery_button_offset;
  }

  &__button-previous
  {
    left: $project_gallery_button_offset;
  }

  &__simplebar-container
  {
    overflow-x: auto;
    overflow-y: hidden;

    border-radius: 8px;

    background-color: theme("ground");

    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 30px;
  }

  &__preview-container
  {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 160px;
    gap: 16px;

    &__item
    {
      .img
      {
        width: 160px;
        height: 90px;
        object-fit: cover;
      }

      &:hover
      {
        outline: 2px solid theme("secondary");
      }

      &.current
      {
        outline: 4px solid theme("primary");
      }
    }
  }
}