.project-page
{
  &__content
  {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    p
    {
      width: $project_page_width;

      @include lexend-deca-normal(1.5rem, 400);
    }

    &__contributions
    {
      width: $project_page_width;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &:before
      {
        width: 100%;

        content: '';
        border: none;
        border-top: 2px solid theme("secondary");

        margin: 2rem 0;
      }

      h1
      {

        @include hanuman-normal-bold(2.5rem);
      }
    }
  }
}