.project-card
{
  background-color: theme("surface");

  border-radius: $project_card_radius;

  &__preview
  {
    position: relative;
    display: inline-block;
  }

  &__thumbnail
  {
    display: block;

    border-top-left-radius: $project_card_radius;
    border-top-right-radius: $project_card_radius;
  }

  &__overlay
  {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    &:hover
    {
      opacity: 1;
    }
  }

  &__link
  {
    pointer-events: none;

    @include lexend-deca-normal-bold(2rem);
  }

  &__information
  {
    height: 16rem;

    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title
  {
    @include hanuman-normal-bold(2rem)
  }

  &__summary
  {
    @include lexend-deca-normal(1.4rem, 400);
  }
}