{{ define "main" }}
    <div class="page">
        <div class="page__header">
            <h1 class="text-align-center">{{ .Title }}</h1>
        </div>
        <div class="page__content">
            {{ .Content }}
        </div>
        <div class="separator"></div>
        <div class="skills">
            <h3>Skills</h3>
            <div class="skills__items-container">
            {{ range .Params.skills }}
                <div class="skills__item">
                    <h4>{{ .category }}</h4>
                    <ul>
                        {{ range .items }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
{{ end }}