$header_height: 72px;
$footer_height: 40px;

$project_card_radius: 16px;
$project_thumbnail_width: 384px;
$project_thumbnail_height: 320px;

$project_page_width: 75%;
$project_gallery_button_size: 32px;
$project_gallery_button_padding: 16px;
$project_gallery_button_offset: calc((#{$project_gallery_button_size} + #{$project_gallery_button_padding}) * -1);
$project_accordion_header_radius: 12px;

//https://octet.design/colors/palette/subtle-lighting-color-palette-1731325100/
$theme_subtle_lighting:
(
  primary: #e07b5b,
  secondary: #77615a,
  accent: #47403d,
  surface: #2b2726,
  ground: #1a1919,
  background: #111111,

  text-primary: #eeeeee,
  text-secondary: #47403d,
);

//https://octet.design/colors/palette/collaborative-gaming-color-palette-1731975389/
$theme_collaborative_gaming:
(
  primary: #b6c9d9,
  secondary: #d89681,
  accent: #495d89,
  surface: #87532f,
  ground: #372b25,
  background: #120d07,

  text-primary: #eeeeee,
  text-secondary: #bdbdbd,
);

$theme: $theme_subtle_lighting;