*,
*:before,
*:after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;

  height: 100%;

  overflow-x: hidden;
  overflow-y: overlay;
}

body
{
  color: theme("text-primary");

  width: 100vw;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

body,
main
{
  background-color: theme("background");
}

main
{
  flex: 1;

  display: flex;
  justify-content: center;
}

header,
footer
{
  background-color: theme("ground");
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button
{
  color: theme("text-primary");
}

h1
{
  @include hanuman-normal-bold(2.5rem)
}

h2
{
  @include hanuman-normal-bold(2.25rem)
}

h3
{
  @include hanuman-normal-bold(2rem)
}

h4
{
  @include hanuman-normal-bold(1.75rem)
}

h5
{
  @include hanuman-normal-bold(1.5rem)
}

p,
a,
li
{
  @include lexend-deca-normal(1.5rem, 400)
}

button
{
  all: unset;
  cursor: pointer;
}