.color-primary
{
  color: theme("primary");
}

.color-secondary
{
  color: theme("secondary");
}

.color-accent
{
  color: theme("accent");
}

.color-surface
{
  color: theme("surface");
}

.color-ground
{
  color: theme("ground");
}

.color-background
{
  color: theme("background");
}

.text-color-primary
{
  color: theme("text-primary");
}

.text-color-secondary
{
  color: theme("text-secondary");
}

.background-color-primary
{
  background-color: theme("primary");
}

.background-color-secondary
{
  background-color: theme("secondary");
}

.background-color-accent
{
  background-color: theme("accent");
}

.background-color-surface
{
  background-color: theme("surface");
}

.background-color-ground
{
  background-color: theme("ground");
}

.background-color-background
{
  background-color: theme("background");
}

.fill-primary
{
  fill: theme("primary");
}

.fill-secondary
{
  fill: theme("secondary");
}

.fill-accent
{
  fill: theme("accent")
}

.fill-surface
{
  fill: theme("surface");
}

.fill-ground
{
  fill: theme("ground");
}

.fill-background
{
  fill: theme("background");
}