<div class="project-card background-color-surface">
    <div class="project-card__preview">
        {{ partial "image.html" (dict "Src" "thumbnail.png" "Context" . "Class" "project-card__thumbnail") }}
        <a class="project-card__overlay" href="{{ .RelPermalink }}">
            <p class="project-card__link">Read More</p>
        </a>
    </div>
    <div class="project-card__information">
        <h2 class="project-card__title">{{ .Title }}</h2>
        <p class="project-card__summary">{{ .Summary }}</p>
    </div>
</div>